/* Patch for elements with non-static positioning */

html,
body {
    position: relative;
    height: fit-content;
}


/* Remove blank sidebar */

.content-wrap {
    max-width: none;
}

.markdown-body {
    max-width: 980px;
}


/* Cleaner Toast Cards */

.toasts {
    font-size: inherit;
    box-shadow: none;
    border-radius: 0.25rem;
    border: 1px solid;
    .title {
        height: min-content;
        box-shadow: none;
        border-radius: 0.15rem 0.15rem 0 0;
    }
    .content {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }
}

.note {
    border-color: #6ab0de;
}

.warning {
    border-color: #f0b37e;
}

.tip {
    border-color: #1abc9c;
}

.danger {
    border-color: #f29f97;
}


/* Content Sidebar */

@for $level from 1 through 6 {
    $depth: 1 - (($level - 1) / 6);
    .snlevel-#{$level} {
        font-size: 18px * max($depth, .73);
        padding-left: 16px * ($level - 1);
        $colorValue: ($depth * 255) - 150;
        color: rgb($colorValue, $colorValue, $colorValue) !important;
        @if $level==6 {
            display: none;
        }
    }
}

.nav-sidebar {
    min-width: 250px;
    padding: 15px;
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

@media (max-width:1678px) {
    .nav-sidebar {
        width: 50%;
        margin: auto;
        background-color: hsl(0%, 0%, 95%);
    }
}


/** Desktop view support */

@media (min-width: 1678px) {
    .nav-sidebar {
        text-align: left;
        right: 3%;
        position: absolute;
        height: 100%;
        ul {
            top: 20px;
            position: sticky;
            list-style-type: none;
        }
    }
}