---
layout: default 
---

<div class="nav-sidebar">
    <ul>
        <i class="fa fa-list" aria-hidden="true"></i>
        <b>Index</b>
    {% assign var = content | split: "<h" %}
    {% for tag in var %}
            {% assign depth = tag | split: "" | first %}
            {% if "1234567890" contains depth %}
            <li>
                {{ tag | split: ">" | first | replace: depth, "<a" | replace: 'id="', 'href="#'}} class="snlevel-{{depth}}">
                {{ tag | split: "</h" | first | split: ">" | last | truncate: 30}}
                </a>
            </li>
            {% endif %} 
    {% endfor %}

    </ul>
</div>


{{ content }}
